html {
	overflow-y: scroll;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;


}

body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	background-color: #FFF;
}


img {
	max-width: 100%;
	height: auto;

}

figure {
	margin: 0;
}

.container {
	width: 95%;
	margin: 0 auto;
}

/*  -------- TYPOGRAPHY -------- */

h1,
h2,
h3 {
	margin: 0;
	padding: 0;
	line-height: 1;
	text-transform: none;

}

p {
	text-align: left;
	font-size: 1.1rem;
	line-height: 1.4;
}

/*  -------- END OF TYPOGRAPHY -------- */

/*  -------- HEADER -------- */

header {
	position: absolute;
	left: 0;
	right: 0;
}

nav ul {
	margin-top: 1em;
	list-style: none;
	padding: 3px;

}

nav li {
	display: inline-block;
	padding-bottom: 3px;
	position: relative;

}

nav a {
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.1rem;
	padding: 0.3em;
	color: #F5FFFF;

}

@media screen and (min-width: 319px) {
	nav a {
		font-size: 1rem;
		padding: 0.3em;
	}
}

@media screen and (min-width: 500px) {
	nav a {
		font-size: 1.4rem;
		padding: 0.4em;
	}
}


nav a:link,
nav a:visited {
	color: #F5FFFF;
}

nav a:hover,
nav a:focus {
	color: #1AC8ED;
	cursor: pointer;
}

@media screen and (min-width: 769px) {
	nav a::before {
		content: "";
		display: block;
		height: 3px;
		width: 0;
		background-color: #1AC8ED;
		position: absolute;
		bottom: 0;
	}

	nav a:hover::before {
		width: 100%;
		transition: all ease-in-out 350ms;

	}
}

/* -- 	ALL OTHER LIST ELEMENTS 	--- */

a:link {
	color: #394A9C;
	font-weight: 700;

}

a:visited {
	color: #1392AD;
}

a:hover {
	color: #000;
	cursor: pointer;
}

/* -- 	END OF ALL OTHER LIST ELEMENTS 	--- */

/*  -------- END OF HEADER -------- */

/*  -------- BANNER -------- */

/* Potential background colours for background image:
#394A9C;
#637F7C;
#911E2B;
#751823;
#82060D;
#0B7871;
#CF453E;
#97332D;

#394A9C; - favourite #394A9C; 

COLOUR OF BACKGROUND IMAGE: #1D2344

*/

.banner {
	background-image: url(images/banner-image.jpg);
	background-color: #156A82;
	background-size: cover;
	background-blend-mode: multiply;
	height: 90vh;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.main-heading {
	margin: 0;
	text-align: center;
	color: #FFF;
	font-weight: 100;
	font-size: 3.5rem;
	letter-spacing: 1px;
	line-height: 1;
	text-shadow: 3px 3px 0 #000,
	2px 2px 0 #000,
	3px 3px 0 #000,
	2px 2px 0 #000;
	font-family: "Lobster", cursive;

}

.small-heading {
	margin: 0;
	text-align: center;
	padding: 0.5em 0 0.5em 0;
	color: #1AC8ED;
	font-family: "Raleway", sans-serif;
	font-size: 1.2rem;
	text-transform: none;
	text-shadow: 1px 1px 0 #000,
	1px 1px 0 #000,
	1px 1px 0 #000,
	1px 1px 0 #000;

}

@media screen and (min-width: 800px) {
	.main-heading {
		font-size: 4rem;

	}

	.small-heading {
		font-size: 1.5rem;
	}
}

.button {
	display: inline-block;
	font-family: "Roboto", sans-serif;
	color: #1AC8ED;
	text-transform: uppercase;
	outline: 2px solid #1AC8ED;
	outline-offset: 2px;
	padding: 0 20px;
	font-size: 0.8rem;

}

.button a {
	color: #FFF;
	text-decoration: none;
}

.button a:hover {
	color: #1AC8ED;
	cursor: pointer;
}

/*  -------- END OF BANNER -------- */

/* 	------- ABOUT 	--------- */

.about-heading {
	padding-top: 1em;

}

.about-heading h2 {
	font-family: 'Lobster', cursive;
	text-transform: none;
	letter-spacing: 1px;
	color: #1D2344;
	font-size: 2.6rem;
}

/* HTML Carousel */

.mySlides {
	display: none;
	max-width: 100%;
	background-color: #FFF;
	margin: 0 auto;
	padding: 0 1em;
}

.quote {
	text-align: center;
	font-size: 1.3rem;
	color: #222;
	text-align: center;
	margin: 0 auto;
	padding: 1em 0.5em 0 0.5em;

}

.mySlides p {
	color: #222;
	padding: 1em 0.5em 0em 0.5em;
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	font-size: 1.1rem;
}

.prog-lang-title {
	font-family: "Raleway", sans-serif;
	letter-spacing: 0;
	text-transform: none;
	padding-top: 1em;
	font-size: 1.7em;
	color: #1D2344;
	font-weight: 900;
}

.prog-lang {
	list-style: none;
	font-family: "Raleway", sans-serif;
	padding: 0;
	font-size: 1.2em;

}

.prog-lang li {
	display: inline-block;
	padding: 10px;

}

.slide-position {
	padding: 2em 0 2em 0;

}

.display-container {
	position: relative;
}

.display-container:hover {
	display: block;
}

.center {
	font-size: 50px;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	width: 100%;

}

.left {
	display: none;

}

.right {
	display: none;
}

.circles {
	cursor: pointer;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	color: #1D2444;
	display: inline-block;
	text-align: center;
	border: 2px solid #1d2444;

}

@media screen and (min-width: 320px) {
	.mySlides {
		height: 430px;
	}
}

@media screen and (min-width: 360px) {
	.mySlides {
		height: 380px;
	}
}

@media screen and (min-width: 450px) {
	.mySlides {
		height: 300px;
	}
}

@media screen and (min-width: 510px) {
	.mySlides {
		height: 280px;
	}
}

@media screen and (min-width: 560px) {
	.left,
	.right {
		display: block;
		cursor: pointer;
		color: #1D2444;
	}

	.left {
		float: left;
		margin-left: 30px;

	}

	.right {
		float: right;
		margin-right: 40px;
	}

}

@media screen and (min-width: 632px) {
	.mySlides {
		height: 250px;
	}
}

@media screen and (min-width: 880px) {
	.quote {
		width: 800px;
	}
	.circles {
		width: 20px;
		height: 20px;
	}
}

.white,
.hover-white:hover {
	background-color: #1D2444;
}

/* END OF HTML CAROUSEL */

/* 	------- END OF ABOUT 	--------- */

/* 	FLEX 	*/

.image-container3 .content {
	margin: 0 1em 1em 1em;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}


@media screen and (min-width: 978px) {

	.image-container3 .content {
		flex-wrap: nowrap;
	}
}

/* 	------- INDEX IMAGES	--------- */

.view {
	margin: 1em 0.6em;
	border: 10px solid #FFF;
	overflow: hidden;
	position: relative;
	text-align: center;
	box-shadow: 3px 4px 3px 3px lightgray;
	cursor: default;

}

@media screen and (min-width: 320px) {
	.view p {
		font-size: 13px;
	}
}

@media screen and (min-width: 360px) {
	.view p {
		font-size: 17px;
	}
}

@media screen and (min-width: 800px) {
	.view {
		margin: 1em;
	}
}

.view .mask,
.view .content {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	margin: 0 auto;

}

.view img {
	display: block;
	position: relative;
	max-width: 100%;

}

.view h2 {
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	position: relative;
	font-size: 2rem;
	padding: 10px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.6);
	margin: 10px;
	font-family: "Anton", serif;
	font-weight: 100;
	text-transform: uppercase;
	text-shadow: 3px 2px 0 #000,
	2px 1px 0 #000,
	1px 1px 0 #000,
	1px 1px 0 #000;
}

.view p {
	font-style: italic;
	font-weight: 900;
	position: relative;
	color: #fff;
	padding: 0 5px 0 5px;
	text-align: center;
	text-shadow: 
	1px 1px 0 #000,
	1px 1px 0 #000,
	1px 1px 0 #000,
	1px 1px 0 #000;

}

.view a.info {
	display: inline-block;
	text-decoration: underline;
	background: transparent;
	color: #FFF;
	text-transform: uppercase;
	outline: 2px solid #1AC8ED;
	outline-offset: 3px;
	padding: 0 30px;

}

@media screen and (min-width: 485px) {
	.view h2 {
		margin-top: 1em;

	}
	.view p {
		padding: 1em;
		font-size: 1.2rem;
	}
}

@media screen and (min-width: 978px) {
	.view h2 {
		font-size: 1.3rem;
	}
	.view p {
		font-size: 0.9rem;
		padding: 2px;
		margin: 1px;
	}
	.view a.info {
		font-size: 0.8rem;
	}
}

@media screen and (min-width: 1068px) {
	.view h2 {
		font-size: 2.2rem;
		margin-top: 0.5em;
	}
	.view p {
		padding: 0.8em 2em 0;

	}
	.view a.info {
		font-size: 0.9rem;
		margin: 1.5em;
	}

}

@media screen and (min-width: 1336px) {
	.view h2 {
		margin-top: 1em;
		font-size: 2.6rem;
	}
	.view p {
		font-size: 1.2rem;
	}
	.view a.info {
		font-size: 1.2rem;
	}
}

.view a.info:hover {
	padding: 0 10px;

}

.mask {
	background-color: rgba(0, 0, 10, 0.5);
}

/* ---- Transition elements ----- */

@media screen and (min-width: 850px) {

	.view-transition img {
		transition: all 0.4s ease-in-out 0.2s;
	}
	.view-transition .mask {
		opacity: 0;
		transition: all 0.2s ease-in 0.3s;
	}
	.view-transition h2 {
		opacity: 0;
		background: transparent;
		transform: scale(10);
		transition: all 0.3s ease-in-out 0.1s;
	}
	.view-transition p {
		opacity: 0;
		transform: scale(10);
		transition: all 0.3s ease-in-out 0.1s;
	}
	.view-transition a.info {
		opacity: 0;
		transform: translateY(100px);
		transition: all 0.3s ease-in-out 0.1s;
	}
	.view-transition:hover .mask {
		opacity: 1;
		transition-delay: 0s;
	}
	.view-transition:hover img {
		transition-delay: 0s;
	}
	.view-transition:hover h2 {
		opacity: 1;
		transform: scale(1);
		transition-delay: 0.1s;
	}
	.view-transition:hover p {
		opacity: 1;
		transform: scale(1);
		transition-delay: 0.2s;
	}
	.view-transition:hover a.info {
		opacity: 1;
		transform: translateY(0px);
		transition-delay: 0.3s;
	}

}

/* 	------- END OF FLEX - IMAGE	--------- */

/*  -------- PORTFOLIO -------- */

.portfolio-banner {
	background-image: url(images/portfolio-banner5.jpg);
	background-color: #666363;
	background-size: cover;
	background-blend-mode: multiply;
	height: 40vh;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.intro-heading {
	margin: 0;
	text-align: center;
	color: #FFF;
	font-weight: 100;
	font-size: 3.5rem;
	letter-spacing: 1px;
	line-height: 1;
	text-shadow: 3px 3px 0 #000,
	2px 2px 0 #000,
	3px 3px 0 #000,
	2px 2px 0 #000;
	font-family: "Anton", serif;
	text-transform: uppercase;
}

.port-intro {
	background-color: #222;
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	color: #FFF;
	padding: 3em 0 3em 0;

}

.port-intro p {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	font-size: 1rem;
	padding: 0 1em;
}

@media screen and (min-width: 800px) {
	.port-intro {
		padding: 6em 0 3em 0;
	}

	.port-intro p {
		font-size: 1.3rem;
	}
}


.portfolio-item {
	position: relative;
	margin: 0;

}

.portfolio-item:nth-child(2n) {
	background-color: #FFF;

}

.portfolio-item:nth-child(4n) {
	background-color: #E9F0F0;

}

.rectangle {
	width: 100%;
	height: 5px;
	background: #222;
	padding: 0;
	margin: 0;
}

.triangle-left {
	display: none;

}

@media screen and (min-width: 800px) {
	.triangle-left {
		display: block;
		width: 100%;
		height: 0;
		border-top: 50px solid #222;
		border-right: 790px solid transparent;

	}
}


.portfolio-description {
	position: relative;
	color: #FFF;

}

.mobile-display,
.sg-mobile-display,
.ftsth-mobile-display, .ux-mobile-display {
	display: block;

}

.desktop-display,
.sg-desktop-display,
.ftsth-desktop-display, .ux-desktop-display {
	display: none;

}

.portfolio-button {
	text-align: center;
	display: inline-block;
	font-family: "Coustard", serif;
	margin: 1em 0 1em 0;
	/*
	outline: 2px solid #1D2344;
	outline-offset: 3px;
	*/
	border: 2px solid #222;
	padding: 10px 30px;
	text-transform: none;
}

.portfolio-button(2n) {
	background-color: #E9F0F0;
}

.portfolio-button:last-child {
	margin-top 0;
	margin-bottom: 3em;

}

@media screen and (min-width: 400px) {
	.portfolio-button {
		margin-left: 1em;
	}
}

.portfolio-button:link,
.portfolio-button:visited {
	color: #1D2344;

}

.portfolio-button:hover {
	color: #1AC8ED;
	cursor: pointer;
}

.all-projects {
	background-color: #E5F0F0;
	color: #000;

}

.project-details {
	padding: 0 1em;


}

.large-project-title {
	padding-top: 1em;
	text-align: center;
	font-family: "Anton", sans-serif;
	font-size: 2.2rem;
	letter-spacing: 1px;
	font-weight: 100;
	color: #1D2344;
	text-transform: uppercase;

}

@media screen and (min-width: 900px) {
	.large-project-title {
		padding-top: 2em;
	}
}

.project-details-title {
	color: #1D2344;
	padding-bottom: 1em;
	font-family: "Coustard", serif;
	text-transform: none;
	text-align: center;
	font-size: 1.3rem;
	margin-bottom: 0;
	margin-top: 1em;
}

.project-details p {
	text-align: left;
	margin: 0;
	padding: 0.5em 0;
}

.grade {
	font-family: "Coustard", serif;
}

/* 	ZIG-ZAG 	*/

@media screen and (min-width: 900px) {

	.portfolio-item {
		display: flex;

	}

	.portfolio-image-container {
		flex: 1;
		max-width: 40%;
		padding: 1em;
	}

	.portfolio-content-container {
		flex: 1;
	}



	.portfolio-item:nth-child(4n) .portfolio-item {
		order: 0;
	}

	.portfolio-item:nth-child(4n) .portfolio-image-container {
		order: 1;
	}

	.project-details {
		margin: 0 1em;
	}

	.mobile-display,
	.sg-mobile-display,
	.ftsth-mobile-display, .ux-mobile-display {
		display: none;
	}

	.desktop-display {
		display: block;
		margin-top: 4em;
	}
	
	.ux-desktop-display {
		display: block;
		margin-top: 4em;
	}

	.sg-desktop-display {
		display: block;
		padding-top: 5em;
	}

	.ftsth-desktop-display {
		display: block;
		padding-top: 3em;
	}

	.portfolio-description {
		padding-top: 0.2em;
		font-size: 2.5rem;

	}
}

@media screen and (min-width: 1150px) {
	.desktop-display {
		margin-top: 1em;
	}
}


/* 	Web programming section */

.content:last-child {
	margin: 0em;
	background-color: #FFF;

}

.prog-section {
	font-family: "Raleway", sans-serif;
	font-weight: 900;
	color: #FFF;
	padding: 2em 1em 2em 1em;
	background-color: #222;

}

.prog-section p {
	max-width: 700px;
	text-align: left;
	font-size: 1.1rem;
	padding: 1em 0em;
	margin: 0;
}

#programming-link {
	color: #FFF;
	text-align: left;
	font-family: "Anton", sans-serif;
	letter-spacing: 1px;
	font-weight: 100;
	text-transform: uppercase;
	font-size: 2.6rem;
	padding-top: 0.3em;
	padding-bottom: 0.3em;

}


@media screen and (min-width: 700px) {
	.prog-section p {
		margin: 0 auto;
		text-align: center;
	}

	#programming-link {
		text-align: center;
	}
}


.prog-spacing {
	background-color: #FFF;
	text-align: center;
	text-align: left;
	padding: 1em;
	margin-top: 1em;
}

@media screen and (min-width: 980px) {
	.prog-spacing {
		margin: 1em 1em 0 1em;
	}
}

.prog-headings {
	font-family: "Coustard", serif;
	text-transform: none;
	text-decoration: underline;
	font-size: 2.2rem;
	letter-spacing: 1px;
	font-weight: 100;
	color: #1D2344;

}

.prog-spacing a {
	font-weight: 100;
	color: #1D2344;

}

.prog-spacing a:hover {
	color: #4D96E5;
}

.prog-spacing p {
	font-weight: 500;
	color: #222;
	margin: 0;
	padding: 1em 0;
}

.prog-spacing:nth-child(2n) {
	background-color: #fff;

}

/* 	#4D96E5; 	*/

/*  -------- END OF PORTFOLIO -------- */

/*  -------- BLOG -------- */

.blog-banner {
	background-image: url(images/blog-banner.jpg);
	background-color: #949090;
	background-size: cover;
	background-blend-mode: multiply;
	height: 40vh;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.blog-banner p {
	color: #1AC8ED;
	font-size: 1.6rem;
	font-family: "Coustard", serif;
	margin: 0;

}

.blog-intro {
	background-color: #222;
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	color: #FFF;
	padding: 3em 0 3em 0;

}

.blog-intro p {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	font-size: 1rem;
	padding: 0 1em;
}

@media screen and (min-width: 800px) {
	.blog-intro {
		padding: 6em 0 3em 0;
	}

	.blog-intro p {
		font-size: 1.3rem;
	}
}

.triangle-right {
	display: none;
}

@media screen and (min-width: 800px) {
	.triangle-right {
		display: block;
		width: 100%;
		height: 0;
		border-top: 50px solid #222;
		border-left: 790px solid #E9F0F0;
	}
}

.blog {
	margin: 0;
}

.blog-container3 .blog-content {
	margin: 1em 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}

@media screen and (min-width: 978px) {

	.blog-container3 .blog-content {
		flex-wrap: nowrap;
	}
}

.blog-post-container {
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 1em;
	background-color: #FFF;

}

.blog-post-container p {
	padding: 1em 0;
	margin: 0;


}

@media screen and (min-width: 700px) {
	.blog-post-container p {
		margin: 0;
	}
}

.main-blog-heading {
	font-family: "Anton", serif;
	text-transform: uppercase;
	font-size: 2.3rem;
	letter-spacing: 1px;
	color: #FFF;
	font-weight: 500;
	text-shadow: 3px 3px 0 #000,
	2px 2px 0 #000,
	3px 3px 0 #000,
	2px 2px 0 #000;

}

.large-blog-heading {
	font-size: 1.8rem;
	font-weight: 500;
	text-align: left;
	margin-top: 1.5em;
	font-family: "Coustard", serif;
}

@media screen and (min-width: 800px) {
	.large-blog-heading {
		font-size: 2rem;
	}

	.main-blog-heading {
		font-size: 3rem;
	}
}

.blog-headings {
	text-align: left;
	font-size: 1.3rem;
	padding-top: 1em;
	letter-spacing: 0;
	line-height: 1;
	color: #1D2344;
	font-family: "Coustard", serif;

}

.blog-list {
	list-style: circle;
	display: inline-block;
	text-align: left;
	margin: 0 0 1em;

}

.blog-list li {
	padding-bottom: 0.2em;
}

/*  -------- END OF BLOG -------- */

/*  -------- CONTACT -------- */

.contact-banner {
	background-image: url(images/contact-image.jpg);
	background-color: #424040;
	background-size: cover;
	background-blend-mode: multiply;
	height: 40vh;
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact-intro {
	background-color: #222;
	font-family: "Raleway", sans-serif;
	font-weight: 900;
	color: #FFF;
	padding: 3em 0 3em 0;
}

.contact-intro p {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	font-size: 1.2rem;
	padding: 0 1em;
}

@media screen and (min-width: 800px) {
	.contact-intro {
		padding: 5em 0 1em 0;
	}
	.contact-intro p {
		font-size: 1.3rem;
	}

}

.contact {
	background-color: #FFF;
}

.github {
	padding-top: 1em;
}

.contact-triangle-left {
	display: none;

}

@media screen and (min-width: 800px) {
	.contact-triangle-left {
		display: block;
		width: 100%;
		height: 0;
		border-top: 50px solid #222;
		border-right: 790px solid #E9F0F0;

	}
}

.form-container {
	margin: 0 auto;
	max-width: 100%;

}

@media screen and (min-width:600px) {
	.form-container {
		max-width: 600px;
	}
}

form {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

label {
	text-align: left;
	padding-top: 1em;
	font-family: "Coustard", serif;
	font-size: 1.2rem;
	padding-left: 0.1em;

}

input {
	padding: 10px;
	margin: 7px 0;
	border-radius: 5px;
	border: solid 3px #2E2D2D;
	outline: none;
	font-size: 1rem;
	font-weight: 500;
}

textarea {
	border-radius: 5px;
	padding: 10px;
	margin: 7px 0;
	border: solid 3px #2E2D2D;
	outline: none;
	font-weight: 500;
	font-size: 1rem;
}


input[type=submit] {
	margin: 0.5em auto;
	width: 25%;
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: 900;
	cursor: pointer;
	font-family: "Coustard", serif;
	background-color: #E9F0F0;

}

input[type=submit]:hover {
	text-decoration: underline;
	color: #1AC8ED;
}

.contact-footer {
	background-color: #222;
	color: #FFF;
	height: 370px;
	margin: 0;

}

/*  -------- END OF CONTACT -------- */

/*  -------- FOOTER -------- */

footer {
	background-color: #232323;
	color: #FFF;
}

footer::after {
	content: "";
	display: block;
	clear: both;
}

.back {
	padding-top: 1em;

}

.footer-container {
	padding: 4em 1em 2em 1em;
}

@media screen and (min-width: 1000px) {
	.footer-container {
		padding-bottom: 10em;
	}
}

/* 	---- 	Column System 	----- 	*/

[class^=col-] {
	text-align: left;
	width: 100%;
}

.col-2,
.col-1 {
	line-height: 0;
}

.col-1 {
	font-size: 20px;
	padding-top: 2em;
}

.col-2 h4 {
	font-family: "Coustard", serif;
	font-size: 30px;
	font-weight: 500;
	margin: 0;
}

.col-2 p {
	padding-top: 1em;
}


.col-1 h4 {
	font-family: "Coustard", serif;
	font-weight: 500;
	font-size: 20px;
	margin: 0;
}

@media screen and (min-width: 810px) {
	[class^=col-] {
		float: left;
		padding: 0 2em;
	}

	.col-2 {
		width: 50%;
	}

	.col-1 {
		width: 25%;
		font-size: 1rem;

	}

	[class^=col-]:first-child {
		padding-left: 0;
	}

	[class^=col-]:last-child {
		padding-right: 0;
	}
}

.social-media-images {
	padding-top: 1em;
}

.social-media-images:hover {
	background-color: #1AC8ED;
	border-radius: 100%;
	padding-top: 0;
}

.col-1 a, .col-2 a {
	font-family: "Roboto", sans-serif;
}

.col-2 a,
.col-1 a {
	color: #1AC8ED;
}

.col-2 a:hover,
.col-1 a:hover {
	color: #FFF;
}

/*  -------- END OF FOOTER -------- */
